{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSpacing": true,
  "plugins": ["./node_modules/prettier-plugin-astro"],
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
