.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 90%;
  padding: 24px;
  background-color: #FDFDFD;
  border-radius: 18px;
  cursor: pointer;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.title {
  color: #263238;
  font-weight: bold;
  font-size: 18px;
}

.time {
  color: #263238;
  font-size: 14px;
}
