.el-input__inner {
  background: rgba(6,9,15) !important;
  border: 1px solid #42b983;
  color: #42b983;
}
.el-input__inner:focus {
  border: 1px solid #fff;
}
.is-round {
  background: #42b983;
  color: #fff;
  border: none;
}
.is-round:hover {
  background: #42b983;
  color: #fff;
  border: none;
  opacity: 0.8;
}