.el-input__inner {
  color: #42b983;
  background: rgb(6 9 15) !important;
  border: 1px solid #42b983;
}

.el-input__inner:focus {
  border: 1px solid #fff;
}

.is-round {
  color: #fff;
  background: #42b983;
  border: none;
}

.is-round:hover {
  color: #fff;
  background: #42b983;
  border: none;
  opacity: 0.8;
}
