.header {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding: 0 20px;
  color: #263238;
  background: #fff;
  border-bottom: 1px solid rgb(240 240 240);
}

.logo {
  color: #263238;
  font-weight: bold;
  font-size: 24px;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
  color: #263238;
  font-weight: 500;
}

.active {
  color: #0a64fa;
}

.menu {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .header {
    color: #fff;
    background: #363a3d;
  }

  .logo,
  .item {
    color: #fff;
  }

  .container {
    padding: 0;
  }

  .nav {
    display: none;
  }

  .menu {
    display: block;
  }
}
