---
const today = new Date()
---

<footer>
  <a
    class="hover:text-primary-600 dark:text-white hover:underline"
    target="_blank"
    href="https://beian.miit.gov.cn/#/Integrated/index"
    rel="noreferrer"
  >
    冀ICP备17036505号-1
  </a>
  <div class="dark:text-white">
    &copy; {today.getFullYear()} SayHub. All rights reserved.
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
