<div
  class="right-sidebar-panel hidden lg:block bg-white rounded-lg dark:bg-[#24272d] px-4 py-4 mb-4 md:mb-0 md:ml-4 w-full md:w-[20rem] h-fit md:sticky top-[80px]"
>
  <div class="container">
    <slot />
  </div>
</div>
