.pagetitle {
  padding: 24px;
  font-size: 2.5rem;
  text-align: center;
}

.pagedescription {
  padding-bottom: 24px;
  font-size: 1.2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, calc(50% - 15px));
  padding: 24px;
}

.item {
  box-sizing: border-box;
  padding: 24px;
  background-color: #FDFDFD;
  border: 1px solid rgb(209 213 219 / 80%);
  border-radius: 18px;
  cursor: pointer;
  transition-duration: 200ms;
}

.item:hover {
  border-color: rgb(107 114 128 / 80%)
}

.title {
  color: #263238;
  font-weight: bold;
  font-size: 18px;
}

.description {
  margin-top: 12px;
  color: #263238;
  font-size: 14px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  .container {
    display: flex;
    flex-direction: column;
  }
}
