.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  text-align: center;
}

.item {
  color: #9aa3ab;
  font-size: 1rem;
  cursor: pointer;
}

.item:hover {
  color: #108ee9;
}