body {
  margin: 0;
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./assets/background-pattern.svg')
}

.menu {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  color: #fff;
  background: #363A3D;
}

.menu-item {
  display: flex;
  align-items: center;
  height: 40px;
  color: #fff;
  font-weight: 500;
}

a {
  text-decoration: none;
}