.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .img {
    width: 100%;
  }
}
